.newsletter-section {
  border-top: solid  #ffa94f;
  background-color: #2b2e34;
  padding: 10px;
  color: #f9f9f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
  text-align: center;
  position: absolute;
  width: 100%;
}

.newsletter-section__register {

  display: flex;
  align-items: center;

  input {
    margin-left: 20px;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 0;
    color: #8e8e8e;
    font-size: 1rem;
    padding: 10px;
  }

  button {
    margin-left: -1px;
    background-color: #ffa94f;
    border: 0;
    height: 39px;
    width: 50px;
    font-weight: 700;
    cursor: pointer;
  }


}

.newsletter-section__social {

  display: flex;
  align-items: center;

  a {
 
    margin-left: 20px;
    font-size: 2rem ;
    color: white;
    transition: .6s;
  }
}

@media (max-width: 768px) {

  .newsletter-section__register {
    margin-top: 10px;
  }

  .newsletter-section__social {
    margin-top: 10px;
  }
}